:root {
  
  line-height: 1.5;
  font-weight: 400;  
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container{
  /* background-color: #23252C; */
  background-color: #23252C;
  width: 380px;
  height:720px;  
  padding: 5px;  
  
}

.card{
  background-color: #1A1B21;
  width: 250px;
  height:679px;   
  /* margin-left: 75px;
  margin-right: 75px; */
  border-radius: 20px;
  margin: 20px 65px;
  
}
.img-photo {
  width: 250px;
  border-radius: 10px 10px 0 0;
  height: 250px;
  
}

h1 {
  font-size: 3.2em;  
  color: white;
}

.info > h3{
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Inter, sans-serif;
  font-weight: 600;
}

.info > h5{
  color: #F3BF99;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Inter, sans-serif;
  font-weight: 100;
}
.info > h6{
  color: white;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: Inter, sans-serif;
  font-weight: 100;
}



.btn-email{
  background-color: white;
  width: 80%;
  height: 38px;
  margin: 15px 25px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  
}

.font-aws{
  margin-right: 10px;
}

.about{
  margin:10px 25px;
}
.about > h5{
  color: white;
  font-family: Inter, sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 500;
}

.about > p{
  color: white;
  font-family: Inter, sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 100;
  font-size: 0.6em;
}

.interests{
  margin:0px 25px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.interests > h5{
  color: white;
  font-family: Inter, sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 500;
  
}

.interests > p{
  color: white;
  font-family: Inter, sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 100;
  font-size: 0.6em;
}
.footer {
  position: relative;
  bottom: 0;
  
  background-color: #161619; /* Optional background color */
  display: flex; /* For horizontal alignment */
  justify-content: center; /* Center icons horizontally */
  align-items: center; /* Center icons vertically */
  padding: 10px; /* Add spacing around icons */
  border-radius: 0 0 10px 10px;
  
}

.social-icons {
  display: flex;
  gap: 10px; /* Space between icons */
}

a {
  color: #918E9B;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
